#home {

}
.ui-bottom {
	bottom: 0;
}
.ui-li-icon {
	position: static;
}
#map {
	position: fixed;
	z-index: 10000;
}
.map {
	width: 100%;
	min-height: 100px;
	margin: 0;
	padding: 0;
	background-position: center;
}
.map-addr {
	height: 1.1em;
	padding: .2em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.has-map .ui-content {
	padding: 0;
	margin: 0;
	bottom: 0;
	overflow: hidden;
}
.list-none {
	text-align: center;
	font-weight: normal;
}
#result_list li .ui-btn-text a {
	padding: 0.3em 15px;
}
#result_list li .ui-btn-text img {
	position: static;
	padding-top: 0.3em;
}
#btn_home_search {
	display: block;
	font-size: 1.5em;
	margin: 3px;
}
#btn_home_search .ui-btn-inner {
	padding: 0.2em;
}
#detail [data-type="horizontal"] {
	
}
#result_list {
	margin: 0;
	overflow: hidden;
	overflow-y: scroll;
}
#weather, #traffic_alerts {
	height: 85px;
	font-size: 12px;
}
#traffic_alerts {
	height: 64px;
}